/* Variables Containing Color */

:root {
    --main-color: crimson; 
    --bg-color: rgb(243, 232, 212);
    --text-color: rgb(59, 59, 59);
}

/* Media Queries */

@media only screen and (max-width: 728px) {
    .aboutPage {
        flex-direction: column;
        align-items: center;
    }

    .portfolioCard {
        width: 100%;
    }
    
    #navbar {
        justify-content: center;
        padding: 0.1em 2% 0.1em 2%;
    }
}

@media only screen and (min-width: 728px) {
    .aboutPage {
        flex-direction: row;
    }

    .portfolioCard {
        width: 500px;
    }

    #navbar {
        justify-content: space-evenly;
        padding: 0.1em 200px 0.1em 200px;
    }
}

/* HTML Tags */

ul {
    margin: 0px;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--bg-color);
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

img {
    display: flex;
    max-width: 100%;
}

/* Ids */

#aboutText {
    padding-left: 10px;
    max-width: 500px;
    height: auto;
    overflow: scroll;
}

#aboutTitle {
    text-align: center;
    font-size: 28px;
    color: var(--bg-color);
    background-color: var(--main-color);
    margin-bottom: 10px;
}

#navbar {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    font-size: 22px;
    color: var(--bg-color);
}

#portfolioPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#portfolios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

#profilePic {
    width: 300px;
    height: auto;
}

#projectTitle {
    font-size: 32px;
    padding: 10px;
}

#title {
    background-color: var(--main-color);
    font-size: 36px;
    font-weight: bold;
    color: var(--bg-color);
    text-align: center;
    padding: 0.1em 20px 0.1em 20px;
}

/* Classes */

.aboutPage {
    display: flex;
}

.active {
    color: var(--main-color) !important;
    background-color: var(--bg-color);
    border-radius: 4px 4px 0px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    color: var(--text-color);
    padding: 10px;
}

.portfolioCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: auto;
    color: var(--bg-color);
    margin-bottom: 10px;
}

.portfolioItem {
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    height: auto;
    max-width: 500px;
}

.projectText {
    height: auto;
    color: var(--bg-color);
    overflow: wrap;
    padding: 10px;
}

.text {
    height: auto;
    color: var(--text-color);
    padding: 0px 10px 10px 10px;
}

.navitem {
    margin-top: 5px;
}

.navitem a {
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
    width: auto;
    padding: 5px 5px 3px 5px;
}

.navitem a:hover {
    opacity: 0.5;
}

.projectPic {
    width: 100%;
    height: auto;
}